@page "/agregarInscripcion/{Id:int?}"
@inject NavigationManager Navegador
@inject AgregarInscripcionUseCase AgregarInscripcionUseCase
@inject ObtenerInscripcionUseCase ObtenerInscripcionUseCase
@inject ModificarInscripcionUseCase ModificarInscripcionUseCase
@inject ListarCursosUseCase ListarCursosUseCase
@inject ObtenerCursoUseCase ObtenerCursoUseCase
@inject ListarEstudiantesUseCase ListarEstudiantesUseCase
@inject ObtenerEstudianteUseCase ObtenerEstudianteUseCase

@if (_nuevaInscripcion)
{
    <h1>A침adir inscripci칩n:</h1>    
}else
{
    <h2>Modificando inscripci칩n de @_inscripcion.Estudiante?.Nombre @_inscripcion.Estudiante?.Apellido al curso 
        @_inscripcion.Curso?.Titulo:</h2>
}

@if (_se_creo)
{
    <p class='alert alert-success'> Inscripci칩n creada.</p>
}

<!--<input placeholder="Ingrese nombre del estudiante" @bind="_inscripcion.Estudiante?.Nombre" class="form-control">
<input placeholder="Ingrese apellido del estudiante" @bind="_inscripcion.Estudiante?.Apellido" class="form-control">
<input type='email' placeholder="Ingrese email" @bind="_inscripcion.Estudiante?.Email" class="form-control">
<input type='number' placeholder="Ingrese DNI" @bind="_inscripcion.Estudiante?.Dni" class="form-control">-->
<label for="estudiante">Elija un estudiante</label>
<select name="estudiante" aria-placeholder="Seleccionar" @bind="_estudianteSeleccionado" class="form-control">
    @* INTENTE HACER ALGO MAS LINDO PERO NO SALIO *@
    @foreach (var estudiante in _listaEstudiantes)
    {
        <option value="@estudiante.Id"> 
            <ul>
                <li>DNI:@estudiante.Dni</li><br>
                <li>Nombre y apellido: @estudiante.Nombre @estudiante.Apellido</li><br>
                <li>Email: @estudiante.Email</li><br>                          
            </ul> 
        </option>        
    }
</select>

<label for="curso">Elija un curso</label>
<select name="curso" @bind="_cursoSeleccionado" class="form-control">
    @foreach (var curso in _listaCursos)
    {
        <option value="@curso.Id">@curso.Titulo - @curso.Descripcion - @curso.Fecha_inicio - @curso.Fecha_finalizacion</option>        
    }
</select>
<input type="datetime-local" @bind="_inscripcion.Fecha_inscripcion" class="form-control">


<!--<input placeholder="Titulo" @bind="_inscripcion.Curso?.Titulo" class="form-control">
<input placeholder="Descripcion" @bind="_inscripcion.Curso?.Descripcion" class="form-control">
<input type="datetime-local" placeholder="Fecha de inicio" @bind="_inscripcion.Curso?.Fecha_inicio" class="form-control">
<input type="datetime-local" placeholder="Fecha de finalizacion" @bind="_inscripcion.Curso?.Fecha_finalizacion" class="form-control">-->

<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@_cursoSeleccionado
@_estudianteSeleccionado

@code 
{
    Inscripcion _inscripcion = new Inscripcion();
    Estudiante? _estudiante= new Estudiante();
    Curso? _curso= new Curso();
    int _estudianteSeleccionado;
    int _cursoSeleccionado;
    List<Estudiante> _listaEstudiantes= new List<Estudiante>();
    List<Curso> _listaCursos= new List<Curso>();
    [Parameter] public int? Id { get; set; }
    bool _nuevaInscripcion = true;
    bool _se_creo = false;
    bool _se_modifico = false;

    protected override void OnInitialized()
    {
        _listaEstudiantes= ListarEstudiantesUseCase.Ejecutar();
        _listaCursos= ListarCursosUseCase.Ejecutar();
    }
    
    protected override void OnParametersSet()
    {
        if(Id != null)  // se recibe un id en el path
        {
            var inscripcion_hallada = ObtenerInscripcionUseCase.Ejecutar(Id.Value);
            if(inscripcion_hallada != null)
            {
                _inscripcion = inscripcion_hallada; // se recupera una inscripcion para ese id
                _nuevaInscripcion = false;
            }
        }
    }
            
    void Aceptar()
    {
        _inscripcion.EstudianteId= _estudianteSeleccionado;
        _inscripcion.CursoId= _cursoSeleccionado;
        if(_nuevaInscripcion)
        {
            AgregarInscripcionUseCase.Ejecutar(_inscripcion);
            _se_creo = true;
            _inscripcion = new Inscripcion();
            Navegador.NavigateTo("/agregarInscripcion");
        }else
        {
            ModificarInscripcionUseCase.Ejecutar(_inscripcion);
            _se_modifico = true;
            Navegador.NavigateTo($"/listadoInscripciones/{_se_modifico}");
        }
        
    }
}